n8n/alerta-waha/workflow.json
{
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                -1056,
                16
            ],
            "id": "e38aeef9-456a-498e-8fb5-b4790e75fbe4",
            "name": "Schedule Trigger"
        },
        {
            "parameters": {
                "jsCode": "return [\n  { sensor_id: 1 },\n  { sensor_id: 2 },\n  { sensor_id: 3 },\n  { sensor_id: 4 },\n  { sensor_id: 5 },\n  { sensor_id: 6 },\n  { sensor_id: 10 },\n  { sensor_id: 11 }\n];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -848,
                16
            ],
            "id": "51e3a38c-a883-4684-8efd-2551bce18016",
            "name": "Lista de Sensores"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.total_itens_encontrados }}",
                                        "rightValue": 0,
                                        "operator": {
                                            "type": "number",
                                            "operation": "equals"
                                        },
                                        "id": "f7574dd0-8183-491b-8df5-961cd5d91428"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "semInternet"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "265006d6-72c4-4e65-b501-d375e4273b5c",
                                        "leftValue": "={{ $json.alerta }}",
                                        "rightValue": "={{ $json.total_itens_encontrados - 10 }}",
                                        "operator": {
                                            "type": "number",
                                            "operation": "gte"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "nivelBaixo"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "ad9ed440-a118-419b-b231-7316694b30a1",
                                        "leftValue": "={{true }}",
                                        "rightValue": true,
                                        "operator": {
                                            "type": "boolean",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "tudoNormal"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.4,
            "position": [
                -112,
                16
            ],
            "id": "d514361e-7cbc-4038-989f-2ef1a482cf50",
            "name": "Switch"
        },
        {
            "parameters": {
                "resource": "Chatting",
                "operation": "Send Image",
                "session": "Dinovatech",
                "chatId": "={{ $json.chat_id }}",
                "file": "={\n  \"mimetype\": \"image/jpeg\",\n  \"filename\": \"imagem.jpg\",\n  \"url\": \"{{ $json.chart_image_url }}\"\n} ",
                "reply_to": "=",
                "caption": "={{ $json.nome_sensor }}",
                "requestOptions": {}
            },
            "type": "@devlikeapro/n8n-nodes-waha.WAHA",
            "typeVersion": 202502,
            "position": [
                192,
                160
            ],
            "id": "62aeda7c-d68b-4b3a-a52e-eaa716adcc89",
            "name": "Send an image",
            "credentials": {
                "wahaApi": {
                    "id": "mTGiRp8c9dgH5riS",
                    "name": "WAHA account"
                }
            }
        },
        {
            "parameters": {
                "url": "https://app.digitalinovation.com.br/alert.php",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "sensor",
                            "value": "={{ $json.sensor_id }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                -656,
                16
            ],
            "id": "87d6c540-8f2d-41a9-8941-c8be4a7452b4",
            "name": "probe"
        },
        {
            "parameters": {
                "jsCode": "function formatWahaChatId(chatId) {\n  if (!chatId) return chatId;\n  const match = chatId.match(/^(\\d+)(@s\\.whatsapp\\.net)?$/);\n  if (!match) return chatId;\n  let number = match[1];\n  const domain = match[2] || '@s.whatsapp.net';\n  if (number.startsWith('55') && number.length === 13) {\n    if (number.charAt(4) === '9') {\n      number = number.slice(0, 4) + number.slice(5);\n    }\n  }\n  return number + domain;\n}\n\nconst result = [];\nfor (const item of $input.all()) {\n  const data = item.json;\n  const contatos = data.contatos || [];\n  for (const contato of contatos) {\n    result.push({\n      json: {\n        sensor_id: data.sensor_id,\n        nome_sensor: data.nome_sensor,\n        periodo_consultado: data.periodo_consultado,\n        total_itens_encontrados: data.total_itens_encontrados,\n        alerta: data.alerta,\n        chart_image_url: data.chart_image_url,\n        chat_id: formatWahaChatId(contato)\n      }\n    });\n  }\n}\nreturn result;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -400,
                16
            ],
            "id": "fd38ac05-f835-453f-b6cf-ca5ebf7ab778",
            "name": "Separar Contatos"
        },
        {
            "parameters": {
                "resource": "Chatting",
                "operation": "Send Image",
                "session": "Dinovatech",
                "chatId": "={{ $json.chat_id }}",
                "file": "={\n  \"mimetype\": \"image/jpeg\",\n  \"filename\": \"filename.jpg\",\n  \"url\": \"{{ $json.chart_image_url }}\"\n}",
                "reply_to": "=",
                "caption": "=Informamos que o sensor **{{ $json.nome_sensor }}** possivelmente está sem internet há pelo menos 1h.",
                "requestOptions": {}
            },
            "type": "@devlikeapro/n8n-nodes-waha.WAHA",
            "typeVersion": 202502,
            "position": [
                192,
                -208
            ],
            "id": "4be5fad8-092d-490d-b773-c42ede8ad8ba",
            "name": "informa sem internet",
            "credentials": {
                "wahaApi": {
                    "id": "mTGiRp8c9dgH5riS",
                    "name": "WAHA account"
                }
            }
        },
        {
            "parameters": {
                "resource": "Chatting",
                "operation": "Send Image",
                "session": "Dinovatech",
                "chatId": "={{ $json.chat_id }}",
                "file": "={\n  \"mimetype\": \"image/jpeg\",\n  \"filename\": \"filename.jpg\",\n  \"url\": \"{{ $json.chart_image_url }}\"\n}",
                "reply_to": "=",
                "caption": "=Informamos que o sensor **{{ $json.nome_sensor }}** possivelmente está abaixo do nivel razoavel há pelo menos 1h.",
                "requestOptions": {}
            },
            "type": "@devlikeapro/n8n-nodes-waha.WAHA",
            "typeVersion": 202502,
            "position": [
                192,
                -16
            ],
            "id": "553947a5-266f-4555-a77a-d8b64db37540",
            "name": "informa nivel baixo",
            "credentials": {
                "wahaApi": {
                    "id": "mTGiRp8c9dgH5riS",
                    "name": "WAHA account"
                }
            }
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Lista de Sensores",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Lista de Sensores": {
            "main": [
                [
                    {
                        "node": "probe",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch": {
            "main": [
                [
                    {
                        "node": "informa sem internet",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "informa nivel baixo",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send an image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "probe": {
            "main": [
                [
                    {
                        "node": "Separar Contatos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Separar Contatos": {
            "main": [
                [
                    {
                        "node": "Switch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": "3f99ecfe99a13518508c83d841a94bd09a99a44e4e27407777f360bae2015f8a"
    }
}